*.py[cod]
*.egg
*.egg-info
dist
build
eggs
.eggs/*
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
*-checkpoint.ipynb
.DS_Store
.idea
*.DS_Store
*~
mlstabilitytest/ml_data/*/*/*/*hull*.json
mlstabilitytest/change_dir_names.py
mlstabilitytest/sub.sh
mlstabilitytest/*log*
*__pycache__*
mlstabilitytest/apriori_stability.py
mlstabilitytest/data/
mlstabilitytest/training/learning/
mlstabilitytest/ml_data/Ef/allMP/*/tmp*.json
mlstabilitytest/analyze_learning.py
mlstabilitytest/ananlyze_classifiers.py
mlstabilitytest/old/